# Data Basics

## Manipulating a DataFrame

To ensure code in this tutorial runs as shown, download the tutorial project folder and follow these instructions.
If you have questions or suggestions about this tutorial, please open an issue here.

> Basics
> - Accessing data
> - Describing the data
> - Converting the data
> - Adding columns
> - Missing values

> Split-Apply-Combine
> - groupby
> - combine
> - combine with groupby

This tutorial is loosely adapted from this pandas tutorial as well as the DataFrames.jl documentation. It is by no means meant to be a complete introduction, rather, it focuses on some key functionalities that are particularly useful in a classical machine learning context.

In [1]:
using Pkg; Pkg.activate("D:/JULIA/6_ML_with_Julia/D0-dataframe"); Pkg.instantiate()

  Activating project at `D:\JULIA\6_ML_with_Julia\D0-dataframe`

### Basics

In [2]:
using RDatasets

In [3]:
using DataFrames

In [4]:
boston = dataset("MASS", "Boston")

506Ã—14 DataFrame
 Row â”‚ Crim     Zn       Indus    Chas   NOx      Rm       Age      Dis      R â‹¯
     â”‚ Float64  Float64  Float64  Int64  Float64  Float64  Float64  Float64  I â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 0.00632     18.0     2.31      0    0.538    6.575     65.2   4.09      â‹¯
   2 â”‚ 0.02731      0.0     7.07      0    0.469    6.421     78.9   4.9671
   3 â”‚ 0.02729      0.0     7.07      0    0.469    7.185     61.1   4.9671
   4 â”‚ 0.03237      0.0     2.18      0    0.458    6.998     45.8   6.0622
   5 â”‚ 0.06905      0.0     2.18      0    0.458    7.147     54.2   6.0622    â‹¯
   6 â”‚ 0.02985      0.0     2.18      0    0.458    6.43      58.7   6.0622
   7 â”‚ 0.08829     12.5     7.87      0    0.524    6.012     66.6   5.5605
   8 â”‚ 0.14455     12.5     7.87      0    0.524    6.172     96.1   5.9505
   9 â”‚ 0.21124     12.5     7.87      0    0.524    5.631    100.0   6.0821    â‹¯
  10 â”‚ 0.17004     12.5     7.87      0    0.524    6.004     85.9   6.5921
  11 â”‚ 0.22489     12.5     7.87      0    0.524    6.377     94.3   6.3467
  â‹®  â”‚    â‹®        â‹®        â‹®       â‹®       â‹®        â‹®        â‹®        â‹®       â‹±
 497 â”‚ 0.2896       0.0     9.69      0    0.585    5.39      72.9   2.7986
 498 â”‚ 0.26838      0.0     9.69      0    0.585    5.794     70.6   2.8927    â‹¯
 499 â”‚ 0.23912      0.0     9.69      0    0.585    6.019     65.3   2.4091
 500 â”‚ 0.17783      0.0     9.69      0    0.585    5.569     73.5   2.3999
 501 â”‚ 0.22438      0.0     9.69      0    0.585    6.027     79.7   2.4982
 502 â”‚ 0.06263      0.0    11.93      0    0.573    6.593     69.1   2.4786    â‹¯
 503 â”‚ 0.04527      0.0    11.93      0    0.573    6.12      76.7   2.2875
 504 â”‚ 0.06076      0.0    11.93      0    0.573    6.976     91.0   2.1675
 505 â”‚ 0.10959      0.0    11.93      0    0.573    6.794     89.3   2.3889
 506 â”‚ 0.04741      0.0    11.93      0    0.573    6.03      80.8   2.505     â‹¯
                                                  6 columns and 485 rows omitted

In [5]:
typeof(boston)

DataFrame

### Accessing data

Intuitively a DataFrame is just a wrapper around a number of columns, each of which is a ```Vector``` of some type with a name"

In [6]:
names(boston)

14-element Vector{String}:
 "Crim"
 "Zn"
 "Indus"
 "Chas"
 "NOx"
 "Rm"
 "Age"
 "Dis"
 "Rad"
 "Tax"
 "PTRatio"
 "Black"
 "LStat"
 "MedV"

You can view the ```first``` few rows using first and specifying a number of rows:

In [7]:
first(boston, 4)

4Ã—14 DataFrame
 Row â”‚ Crim     Zn       Indus    Chas   NOx      Rm       Age      Dis      R â‹¯
     â”‚ Float64  Float64  Float64  Int64  Float64  Float64  Float64  Float64  I â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 0.00632     18.0     2.31      0    0.538    6.575     65.2   4.09      â‹¯
   2 â”‚ 0.02731      0.0     7.07      0    0.469    6.421     78.9   4.9671
   3 â”‚ 0.02729      0.0     7.07      0    0.469    7.185     61.1   4.9671
   4 â”‚ 0.03237      0.0     2.18      0    0.458    6.998     45.8   6.0622
                                                               6 columns omitted

You can access one of those columns easily using ```.colname```, this returns a vector that you can access like any Julia vector:

In [8]:
boston.Crim[1:5]

5-element Vector{Float64}:
 0.00632
 0.02731
 0.02729
 0.03237
 0.06905

You can also just access the dataframe as you would a big matrix:

In [9]:
boston[3, 5]

0.469

or specifying a range of rows/columns:

In [10]:
boston[1:5, [:Crim, :Zn]]

5Ã—2 DataFrame
 Row â”‚ Crim     Zn
     â”‚ Float64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 0.00632     18.0
   2 â”‚ 0.02731      0.0
   3 â”‚ 0.02729      0.0
   4 â”‚ 0.03237      0.0
   5 â”‚ 0.06905      0.0

or, similarly,

In [11]:
boston[1:5, 1:2]

5Ã—2 DataFrame
 Row â”‚ Crim     Zn
     â”‚ Float64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 0.00632     18.0
   2 â”‚ 0.02731      0.0
   3 â”‚ 0.02729      0.0
   4 â”‚ 0.03237      0.0
   5 â”‚ 0.06905      0.0

The ```select``` function is very convenient to get sub dataframes of interest:

In [12]:
b1 = select(boston, [:Crim, :Zn, :Indus])
first(b1, 2)

2Ã—3 DataFrame
 Row â”‚ Crim     Zn       Indus
     â”‚ Float64  Float64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 0.00632     18.0     2.31
   2 â”‚ 0.02731      0.0     7.07

The ```Not``` syntax is also very useful:

In [13]:
b2 = select(boston, Not(:NOx))
first(b2, 2)

2Ã—13 DataFrame
 Row â”‚ Crim     Zn       Indus    Chas   Rm       Age      Dis      Rad    Tax â‹¯
     â”‚ Float64  Float64  Float64  Int64  Float64  Float64  Float64  Int64  Int â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 0.00632     18.0     2.31      0    6.575     65.2   4.09        1    2 â‹¯
   2 â”‚ 0.02731      0.0     7.07      0    6.421     78.9   4.9671      2    2
                                                               5 columns omitted

Finally, if you would like to drop columns, you can use ```select!``` which will mutate the dataframe in place:

In [14]:
select!(b1, Not(:Crim))
first(b1, 2)

2Ã—2 DataFrame
 Row â”‚ Zn       Indus
     â”‚ Float64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    18.0     2.31
   2 â”‚     0.0     7.07

### Describing the data

```StatsBase``` offers a convenient ```describe``` function which you can use on a DataFrame to get an overview of the data:

In [15]:
using StatsBase
describe(boston)

14Ã—7 DataFrame
 Row â”‚ variable  mean        min        median     max       nmissing  eltype  â‹¯
     â”‚ Symbol    Float64     Real       Float64    Real      Int64     DataTyp â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Crim        3.61352     0.00632    0.25651   88.9762         0  Float64 â‹¯
   2 â”‚ Zn         11.3636      0.0        0.0      100.0            0  Float64
   3 â”‚ Indus      11.1368      0.46       9.69      27.74           0  Float64
   4 â”‚ Chas        0.06917     0          0.0        1              0  Int64
   5 â”‚ NOx         0.554695    0.385      0.538      0.871          0  Float64 â‹¯
   6 â”‚ Rm          6.28463     3.561      6.2085     8.78           0  Float64
   7 â”‚ Age        68.5749      2.9       77.5      100.0            0  Float64
   8 â”‚ Dis         3.79504     1.1296     3.20745   12.1265         0  Float64
   9 â”‚ Rad         9.54941     1          5.0       24              0  Int64   â‹¯
  10 â”‚ Tax       408.237     187        330.0      711              0  Int64
  11 â”‚ PTRatio    18.4555     12.6       19.05      22.0            0  Float64
  12 â”‚ Black     356.674       0.32     391.44     396.9            0  Float64
  13 â”‚ LStat      12.6531      1.73      11.36      37.97           0  Float64 â‹¯
  14 â”‚ MedV       22.5328      5.0       21.2       50.0            0  Float64
                                                                1 column omitted

In [16]:
describe(boston, :min, :max, :mean, :median, :std)

14Ã—6 DataFrame
 Row â”‚ variable  min        max       mean        median     std
     â”‚ Symbol    Real       Real      Float64     Float64    Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Crim        0.00632   88.9762    3.61352     0.25651    8.60155
   2 â”‚ Zn          0.0      100.0      11.3636      0.0       23.3225
   3 â”‚ Indus       0.46      27.74     11.1368      9.69       6.86035
   4 â”‚ Chas        0          1         0.06917     0.0        0.253994
   5 â”‚ NOx         0.385      0.871     0.554695    0.538      0.115878
   6 â”‚ Rm          3.561      8.78      6.28463     6.2085     0.702617
   7 â”‚ Age         2.9      100.0      68.5749     77.5       28.1489
   8 â”‚ Dis         1.1296    12.1265    3.79504     3.20745    2.10571
   9 â”‚ Rad         1         24         9.54941     5.0        8.70726
  10 â”‚ Tax       187        711       408.237     330.0      168.537
  11 â”‚ PTRatio    12.6       22.0      18.4555     19.05       2.16495
  12 â”‚ Black       0.32     396.9     356.674     391.44      91.2949
  13 â”‚ LStat       1.73      37.97     12.6531     11.36       7.14106
  14 â”‚ MedV        5.0       50.0      22.5328     21.2        9.1971

You can pass a number of symbols to the ```describe``` function to indicate which statistics to compute for each feature:

- ```mean```, ```std```, ```min```, ```max```, ```median```, ```first```, ```last``` are all fairly self explanatory

- ```q25```, ```q75``` are respectively for the 25th and 75th percentile,

- ```eltype```, ```nunique```, ```nmissing``` can also be used

In [17]:
describe(boston, :min, :max, :mean, :median, :std, :eltype, :nunique, :nmissing)

14Ã—9 DataFrame
 Row â”‚ variable  min        max       mean        median     std         eltyp â‹¯
     â”‚ Symbol    Real       Real      Float64     Float64    Float64     DataT â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Crim        0.00632   88.9762    3.61352     0.25651    8.60155   Float â‹¯
   2 â”‚ Zn          0.0      100.0      11.3636      0.0       23.3225    Float
   3 â”‚ Indus       0.46      27.74     11.1368      9.69       6.86035   Float
   4 â”‚ Chas        0          1         0.06917     0.0        0.253994  Int64
   5 â”‚ NOx         0.385      0.871     0.554695    0.538      0.115878  Float â‹¯
   6 â”‚ Rm          3.561      8.78      6.28463     6.2085     0.702617  Float
   7 â”‚ Age         2.9      100.0      68.5749     77.5       28.1489    Float
   8 â”‚ Dis         1.1296    12.1265    3.79504     3.20745    2.10571   Float
   9 â”‚ Rad         1         24         9.54941     5.0        8.70726   Int64 â‹¯
  10 â”‚ Tax       187        711       408.237     330.0      168.537     Int64
  11 â”‚ PTRatio    12.6       22.0      18.4555     19.05       2.16495   Float
  12 â”‚ Black       0.32     396.9     356.674     391.44      91.2949    Float
  13 â”‚ LStat       1.73      37.97     12.6531     11.36       7.14106   Float â‹¯
  14 â”‚ MedV        5.0       50.0      22.5328     21.2        9.1971    Float
                                                               3 columns omitted

In [18]:
describe(boston, :q25, :q75)

14Ã—3 DataFrame
 Row â”‚ variable  q25         q75
     â”‚ Symbol    Float64     Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Crim        0.082045    3.67708
   2 â”‚ Zn          0.0        12.5
   3 â”‚ Indus       5.19       18.1
   4 â”‚ Chas        0.0         0.0
   5 â”‚ NOx         0.449       0.624
   6 â”‚ Rm          5.8855      6.6235
   7 â”‚ Age        45.025      94.075
   8 â”‚ Dis         2.10018     5.18843
   9 â”‚ Rad         4.0        24.0
  10 â”‚ Tax       279.0       666.0
  11 â”‚ PTRatio    17.4        20.2
  12 â”‚ Black     375.377     396.225
  13 â”‚ LStat       6.95       16.955
  14 â”‚ MedV       17.025      25.0

You can also pass your custom function with a pair **```name => function```** for instance:

In [19]:
foo(x) = sum(abs.(x)) / length(x)
d = describe(boston, :mean, :median, foo => :foo)
first(d, 14)
durl

LoadError: UndefVarError: durl not defined

The ```describe``` function returns a derived object with one row per feature and one column per required statistic.

Further to ```StatsBase```, ```Statistics``` offers a range of useful functions for data analysis.

In [20]:
using Matr

LoadError: ArgumentError: Package Matr not found in current path:
- Run `import Pkg; Pkg.add("Matr")` to install the Matr package.

### Converting the data

If you want to get the content of the dataframe as one big matrix, use ```convert:```

In [21]:
mat = Matrix(boston)
mat[1:3, 1:3]

3Ã—3 Matrix{Float64}:
 0.00632  18.0  2.31
 0.02731   0.0  7.07
 0.02729   0.0  7.07

### Adding columns

Adding a column to a dataframe is very easy:

In [22]:
boston.Crim_x_Zn = boston.Crim .* boston.Zn;

In [23]:
boston[1:3, 10:15]

3Ã—6 DataFrame
 Row â”‚ Tax    PTRatio  Black    LStat    MedV     Crim_x_Zn
     â”‚ Int64  Float64  Float64  Float64  Float64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚   296     15.3   396.9      4.98     24.0    0.11376
   2 â”‚   242     17.8   396.9      9.14     21.6    0.0
   3 â”‚   242     17.8   392.83     4.03     34.7    0.0

that's it! Remember also that you can drop columns or make subselections with ```select``` and ```select!```.

### Missing values

Let's load a dataset with missing values

In [24]:
mao = dataset("gap", "mao");
first(mao, 6)

6Ã—19 DataFrame
 Row â”‚ ID        Type   Gender  Age      AAO      AAD      UPDRS    MAOAI2   A â‹¯
     â”‚ String15  Int64  Int64   Int64?   Int64?   Int64?   Int64?   String7  S â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 2341.00       0       0       69  missing  missing  missing  116      7 â‹¯
   2 â”‚ 2342.00       0       0  missing  missing  missing  missing  122      1
   3 â”‚ 2343.00       0       0  missing  missing  missing  missing  112      5
   4 â”‚ 2344.00       0       0  missing  missing  missing  missing  114      6
   5 â”‚ 2345.00       0       1  missing  missing  missing  missing  112/112  5 â‹¯
   6 â”‚ 2346.00       0       1  missing  missing  missing  missing  112/114  5
                                                              11 columns omitted

In [25]:
describe(mao, :nmissing)

19Ã—2 DataFrame
 Row â”‚ variable  nmissing
     â”‚ Symbol    Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ ID               0
   2 â”‚ Type             0
   3 â”‚ Gender           0
   4 â”‚ Age            188
   5 â”‚ AAO            296
   6 â”‚ AAD            295
   7 â”‚ UPDRS          301
   8 â”‚ MAOAI2           0
   9 â”‚ AI2Code          0
  10 â”‚ MAOBI2           0
  11 â”‚ BI2Code          0
  12 â”‚ GTBEX3           0
  13 â”‚ BEX3Code         0
  14 â”‚ MAOAVNTR        46
  15 â”‚ VNTRCode        46
  16 â”‚ VNTRCod2        46
  17 â”‚ MAOA31          36
  18 â”‚ MAO31COD        36
  19 â”‚ MAO31CO2        36

akisLots of missing values... If you wanted to compute simple functions on columns, they may just return ```missing```:

In [26]:
std(mao.Age)

missing

The ```skipmissing``` function can help counter this easily:

In [27]:
std(skipmissing(mao.Age))

11.551715894987558

### Split-Apply-Combine

This is a shorter version of the DataFrames.jl tutorial.

> **(tutorial)** https://dataframes.juliadata.org/latest/man/split_apply_combine/

In [28]:
iris = dataset("datasets", "iris")
first(iris, 3)

3Ã—5 DataFrame
 Row â”‚ SepalLength  SepalWidth  PetalLength  PetalWidth  Species
     â”‚ Float64      Float64     Float64      Float64     Catâ€¦
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚         5.1         3.5          1.4         0.2  setosa
   2 â”‚         4.9         3.0          1.4         0.2  setosa
   3 â”‚         4.7         3.2          1.3         0.2  setosa

#### groupby

The ```groupby``` function allows to form "sub-dataframes" corresponding to groups of rows. This can be very convenient to run specific analyses for specific groups without copying the data.

The basic usage is ```groupby(df, cols)``` where ```cols``` specifies one or several columns to use for the grouping.

Consider a simple example: in ```iris``` there is a ```Species``` column with 3 species:

In [29]:
unique(iris.Species)

3-element Vector{String}:
 "setosa"
 "versicolor"
 "virginica"

We can form views for each of these:

In [30]:
gdf = groupby(iris, :Species);

The ```gdf``` object now corresponds to **views** of the original dataframe for each of the 3 species; the first species is ```"setosa"``` with:

In [31]:
subdf_setosa = gdf[1]
describe(subdf_setosa, :min, :mean, :max)

5Ã—4 DataFrame
 Row â”‚ variable     min     mean    max
     â”‚ Symbol       Any     Unionâ€¦  Any
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ SepalLength  4.3     5.006   5.8
   2 â”‚ SepalWidth   2.3     3.428   4.4
   3 â”‚ PetalLength  1.0     1.462   1.9
   4 â”‚ PetalWidth   0.1     0.246   0.6
   5 â”‚ Species      setosa          setosa

In [32]:
describe(gdf[1], :min, :mean, :max)

5Ã—4 DataFrame
 Row â”‚ variable     min     mean    max
     â”‚ Symbol       Any     Unionâ€¦  Any
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ SepalLength  4.3     5.006   5.8
   2 â”‚ SepalWidth   2.3     3.428   4.4
   3 â”‚ PetalLength  1.0     1.462   1.9
   4 â”‚ PetalWidth   0.1     0.246   0.6
   5 â”‚ Species      setosa          setosa

In [33]:
describe(gdf[2], :min, :mean, :max)

5Ã—4 DataFrame
 Row â”‚ variable     min         mean    max
     â”‚ Symbol       Any         Unionâ€¦  Any
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ SepalLength  4.9         5.936   7.0
   2 â”‚ SepalWidth   2.0         2.77    3.4
   3 â”‚ PetalLength  3.0         4.26    5.1
   4 â”‚ PetalWidth   1.0         1.326   1.8
   5 â”‚ Species      versicolor          versicolor

In [34]:
describe(gdf[3], :min, :mean, :max)

5Ã—4 DataFrame
 Row â”‚ variable     min        mean    max
     â”‚ Symbol       Any        Unionâ€¦  Any
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ SepalLength  4.9        6.588   7.9
   2 â”‚ SepalWidth   2.2        2.974   3.8
   3 â”‚ PetalLength  4.5        5.552   6.9
   4 â”‚ PetalWidth   1.4        2.026   2.5
   5 â”‚ Species      virginica          virginica

#### Combine

The ```combine``` function allows to derive a new dataframe out of transformations of an existing one. Here's an example taken from the official doc (see ```?combine```):

In [35]:
df = DataFrame(a=1:3, b=4:6)
combine(df, :a => sum, nrow)

1Ã—2 DataFrame
 Row â”‚ a_sum  nrow
     â”‚ Int64  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     6      3

what happened here is that the derived DataFrame has two columns obtained respectively by (1) computing the sum of the first column and (2) applying the ```nrow``` function on the ```df```.

The transformation can produce one or several values, ```combine``` will try to concatenate these columns as it can, for instance:

In [36]:
foo(v) = v[1:2]
combine(df, :a => maximum, :b => foo)

2Ã—2 DataFrame
 Row â”‚ a_maximum  b_foo
     â”‚ Int64      Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚         3      4
   2 â”‚         3      5

here the maximum value of ```a``` is copied twice so that the two columns have the same number of rows.

In [37]:
bar(v) = v[end-1:end]
combine(df, :a => foo, :b => bar)

2Ã—2 DataFrame
 Row â”‚ a_foo  b_bar
     â”‚ Int64  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1      5
   2 â”‚     2      6

#### Combine with groupby

Combining ```groupby``` with ```combine``` is very useful. For instance you might want to compute statistics across groups for different variables:

In [38]:
combine(groupby(iris, :Species), :PetalLength => mean)

3Ã—2 DataFrame
 Row â”‚ Species     PetalLength_mean
     â”‚ Catâ€¦        Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ setosa                 1.462
   2 â”‚ versicolor             4.26
   3 â”‚ virginica              5.552

let's decompose that:

1. the ```groupby(iris, :Species)``` creates groups using the ```:Species``` column (which has values ```setosa```, ```versicolor```, ```virginica```)

2. the ```combine``` creates a derived dataframe by applying the ```mean``` function to the ```:PetalLength``` column

since there are three groups, we get one column (mean of ```PetalLength```) and three rows (one per group).

You can do this for several columns/statistics at the time and give new column names to the results:

In [39]:
gdf = groupby(iris, :Species)
combine(gdf, :PetalLength => mean => :MPL , :PetalLength => std => :SPL)

3Ã—3 DataFrame
 Row â”‚ Species     MPL      SPL
     â”‚ Catâ€¦        Float64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ setosa        1.462  0.173664
   2 â”‚ versicolor    4.26   0.469911
   3 â”‚ virginica     5.552  0.551895

so here we assign the names ```:MPL``` and ```:SPL``` to the derived columns. If you want to apply something on all columns apart from the grouping one, using ```names``` and ```Not``` comes in handy:

In [40]:
combine(gdf, names(iris, Not(:Species)) .=> std)

3Ã—5 DataFrame
 Row â”‚ Species     SepalLength_std  SepalWidth_std  PetalLength_std  PetalWidt â‹¯
     â”‚ Catâ€¦        Float64          Float64         Float64          Float64   â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ setosa             0.35249         0.379064         0.173664        0.1 â‹¯
   2 â”‚ versicolor         0.516171        0.313798         0.469911        0.1
   3 â”‚ virginica          0.63588         0.322497         0.551895        0.2
                                                                1 column omitted

In [41]:
dunames(iris, Not(:Species))

4-element Vector{String}:
 "SepalLength"
 "SepalWidth"
 "PetalLength"
 "PetalWidth"

and note the use of ```.``` in ```.=>``` to indicate that we broadcast the function over each column.

**Vectorized "dot" operators**

In [42]:
[1,2,3] .^ 3

3-element Vector{Int64}:
  1
  8
 27

**Broadcasting**

It is sometimes useful to perform element-by-element binary operations on arrays of different sizes, such as adding a vector to each column of a matrix. An inefficient way to do this would be to replicate the vector to the size of the matrix:

In [43]:
([1, 2, 3], [4, 5, 6]) .+ ([1, 2, 3],)

([2, 4, 6], [5, 7, 9])

In [44]:
([1, 2, 3], [4, 5, 6]) .+ tuple([1, 2, 3])

([2, 4, 6], [5, 7, 9])

In [45]:
a = rand(2,1); A = rand(2,3);

In [46]:
a

2Ã—1 Matrix{Float64}:
 0.7535372436091669
 0.500019517814421

In [47]:
A

2Ã—3 Matrix{Float64}:
 0.408887   0.13851   0.948664
 0.0682758  0.818699  0.374016

In [48]:
repeat(a,1,3) + A

2Ã—3 Matrix{Float64}:
 1.16242   0.892047  1.7022
 0.568295  1.31872   0.874035

In [49]:
broadcast(+, a, A)

2Ã—3 Matrix{Float64}:
 1.16242   0.892047  1.7022
 0.568295  1.31872   0.874035

Dotted operators such as ```.+``` and ```.*``` are equivalent to ```broadcast``` calls (except that they fuse, as described above). There is also a ```broadcast!``` function to specify an explicit destination (which can also be accessed in a fusing fashion by .= assignment). In fact, ```f.(args...)``` is equivalent to ```broadcast(f, args...)```, providing a convenient syntax to broadcast any function (dot syntax). Nested "dot calls" ```f.(...)``` (including calls to ```.+``` etcetera) automatically fuse into a single ```broadcast``` call.

Additionally, ```broadcast``` is not limited to arrays (see the function documentation); it also handles scalars, tuples and other collections. By default, only some argument types are considered scalars, including (but not limited to) ```Numbers```, ```Strings```, ```Symbols```, ```Types```, ```Functions``` and some common singletons like missing and nothing. All other arguments are iterated over or indexed into elementwise.

In [50]:
combine(gdf, :PetalLength => mean)

3Ã—2 DataFrame
 Row â”‚ Species     PetalLength_mean
     â”‚ Catâ€¦        Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ setosa                 1.462
   2 â”‚ versicolor             4.26
   3 â”‚ virginica              5.552

In [51]:
combine(gdf, nrow, :PetalLength => mean => :mean)

3Ã—3 DataFrame
 Row â”‚ Species     nrow   mean
     â”‚ Catâ€¦        Int64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ setosa         50    1.462
   2 â”‚ versicolor     50    4.26
   3 â”‚ virginica      50    5.552

In [52]:
combine(gdf, [:PetalLength, :SepalLength] => ((p, s) -> (a=mean(p)/mean(s), b=sum(p))) => AsTable) 
# multiple columns are passed as arguments

3Ã—3 DataFrame
 Row â”‚ Species     a         b
     â”‚ Catâ€¦        Float64   Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ setosa      0.29205      73.1
   2 â”‚ versicolor  0.717655    213.0
   3 â”‚ virginica   0.842744    277.6

In [53]:
combine(gdf, AsTable([:PetalLength, :SepalLength]) => x -> std(x.PetalLength) / std(x.SepalLength)) # passing a NamedTuple

3Ã—2 DataFrame
 Row â”‚ Species     PetalLength_SepalLength_function
     â”‚ Catâ€¦        Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ setosa                              0.492678
   2 â”‚ versicolor                          0.910378
   3 â”‚ virginica                           0.867923

In [54]:
combine(x -> std(x.PetalLength) / std(x.SepalLength), gdf) # passing a SubDataFrame

3Ã—2 DataFrame
 Row â”‚ Species     x1
     â”‚ Catâ€¦        Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ setosa      0.492678
   2 â”‚ versicolor  0.910378
   3 â”‚ virginica   0.867923

In [55]:
combine(gdf, 1:2 => cor, nrow)

3Ã—3 DataFrame
 Row â”‚ Species     SepalLength_SepalWidth_cor  nrow
     â”‚ Catâ€¦        Float64                     Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ setosa                        0.742547     50
   2 â”‚ versicolor                    0.525911     50
   3 â”‚ virginica                     0.457228     50

In [56]:
combine(gdf, :PetalLength => (x -> [extrema(x)]) => [:min, :max])

3Ã—3 DataFrame
 Row â”‚ Species     min      max
     â”‚ Catâ€¦        Float64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ setosa          1.0      1.9
   2 â”‚ versicolor      3.0      5.1
   3 â”‚ virginica       4.5      6.9